@{
    ViewData["Title"] = "編輯使用者";
}
<div class="row p-3">
    <div class="col-12">
        <div class="card vh-90">
            <div class="card-body">
                <div class="col-12 mb-10">
                    <div class="d-flex justify-content-end">
                        <p-button v-if="this.$common.CheckAuthority(funcs,'Edit')" type="button" icon="pi pi-user-edit" class="me-1 px-2" v-tooltip.top="'編輯基本資料'" v-on:click="OpenEditUserModal"></p-button>
                        <p-button v-if="this.$common.CheckAuthority(funcs,'EditKey')" type="button" icon="bi bi-gear-fill" class="me-1 px-2 p-button-danger" v-tooltip.top="'變更密碼'" v-on:click="OpenChangePasswordModal"></p-button>
                    </div>
                </div>
                <div class="col-12">
                    <div class="position-relative">
                        <div class="progress" style="height: 1px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="position-absolute top-0 start-50 translate-middle px-3 bg-white fw-bold fs-3 text-success">基本資料</span>
                    </div>
                    <table class="table table-responsive table-hover" >
                        <tbody>
                            <tr>
                                <td>
                                    <div class="mb-3 row">
                                        <label for="staticEmail" class="col-sm-2 col-form-label">帳號</label>
                                        <div class="col-sm-10">
                                            <input type="text" readonly class="form-control-plaintext outline-none" id="staticEmail" v-bind:value="user.UserId">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="mb-3 row">
                                        <label class="col-sm-2 col-form-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="email" readonly class="form-control-plaintext outline-none" v-bind:value="user.Email">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="mb-3 row">
                                        <label class="col-sm-2 col-form-label">權限</label>
                                        <div class="col-sm-10">
                                            <input type="email" readonly class="form-control-plaintext outline-none" v-bind:value="user.Role" autocomplete="off">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="mb-3 row">
                                        <label class="col-sm-2 col-form-label">狀態</label>
                                        <div class="col-sm-10">
                                            <span v-if="user.Status=='帳號啟用中'" class="badge bg-success fs-5">{{user.Status}}</span>
                                            <span v-else-if="user.Status=='帳號尚未開通'" class="badge bg-danger fs-5">{{user.Status}}</span>
                                            <span v-else class="badge bg-warning text-dark fs-5">{{user.Status}}</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<edit-user-modal ref="editUser" v-bind:pemail="user.Email" v-bind:model-error="modelStateError" v-on:save="SaveProfile"></edit-user-modal>
<change-password-modal ref="changePassword" v-bind:model-error="modelStateError" v-on:save="SaveKey"></change-password-modal>

<script type="text/javascript">
    @section Vue
    {
    import editUserModal from '@settings.Value.BaseUrl/StaticFiles/Vue/Components/EditUserModal.js'
    import changePasswordModal from '@settings.Value.BaseUrl/StaticFiles/Vue/Components/ChangePasswordModal.js'
    import {
        GetUserById, EditUser, EditKey,
        GetListOfFunctionFilter
    } from '@settings.Value.BaseUrl/StaticFiles/Vue/Services/IpassService.js'

    const Id = '@httpContextAccessor.HttpContext.User.Claims.SingleOrDefault(c => c.Type == ClaimTypes.Name).Value';
    const app = Vue.createApp({
        components: {
            editUserModal,
            changePasswordModal
        },
        data: function () {
            return {
                funcs:[],
                modelStateError: {},
                tooltipList: [],
                user: {
                    UserId: '',
                    Email: ''
                },
                EditViewModel: {
                    ModifierId: Id,
                    UserId: '',
                    Email: ''
                },
                EditKeyViewModel: {
                    UserId: Id,
                    OldKey: '',
                    NewKey: '',
                    NewKey2:''
                }
            }
        },
        created: function () {
            this.GetUserById();
            this.GetListOfFunctionFilter();
        },
        methods: {
            OpenEditUserModal: function () {
                this.modelStateError = {};
                this.$refs.editUser.Show();
            },
            OpenChangePasswordModal: function () {
                this.$refs.changePassword.Show();
            },
            GetUserById: async function () {
                const Id = '@httpContextAccessor.HttpContext.User.Claims.SingleOrDefault(c => c.Type == ClaimTypes.Name).Value';
                try {
                    const query = {
                        params: {
                            userId: Id
                        }
                    };
                    const response = await GetUserById(query).then(response => response);
                    const status = response.status;
                    if (status === 200) {
                        const data = response.data;
                        const code = data.RtnCode;
                        switch (code) {
                            case 200:
                                this.user = data.RtnData;
                                break;
                            default:
                                break;
                        }
                    }
                }
                catch (exception) {
                    console.log(exception)
                }
            },
            GetListOfFunctionFilter: async function () {
                try {
                    const query = {
                        params: {
                            IsWebSite: 'false',
                            FuncClassEnName:'@(httpContextAccessor.HttpContext.Request.RouteValues["controller"] as string)'
                        }
                    };
                    const response = await GetListOfFunctionFilter(query).then(response => response);
                    const status = response.status;
                    if (status === 200) {
                        const data = response.data;
                        const code = data.RtnCode;
                        switch (code) {
                            case 200:
                                if (data.RtnData.length > 0) {
                                    this.funcs = data.RtnData[0].Functions;
                                }
                                break;
                            default:
                                break;
                        }
                    }
                }
                catch (exception) {
                    console.log(exception)
                }
            },
            SaveProfile: async function (value) {
                this.EditViewModel.Email = value;
                this.EditViewModel.UserId = this.user.UserId;
                try {
                    const response = await EditUser(this.EditViewModel).then(response => response);
                    const status = response.status;
                    if (status === 200) {
                        const responseData = response.data;
                        switch (responseData.RtnCode) {
                            case 200:
                                await this.GetUserById();
                                this.$refs.editUser.Close();
                                const status = this.$common.ChangeReturnCode(responseData.RtnCode);
                                this.$toast.add({ severity: status, summary: responseData.RtnMessage, detail: '', life: 5000, group: 'backend-laoout' });
                                break;
                            case 401:
                            case 404:
                            case 417:
                                if (typeof (responseData.RtnData) === 'string') {
                                    this.modelStateError = JSON.parse(responseData.RtnData);
                                }
                                this.$emitter.emit('ServerErrorMessages', this.modelStateError);
                                break;
                            default:
                                throw new Error('代碼有誤');
                                break;
                        }
                    }
                }
                catch (exception) {
                    console.log(exception);
                }
            },
            SaveKey: async function (value) {
                this.EditKeyViewModel = value;
                this.EditKeyViewModel.UserId = this.user.UserId;
                try {
                    const response = await EditKey(this.EditKeyViewModel).then(response => response);
                    console.log('SaveKey response');
                    console.log(response);
                    if (response.status === 200) {
                        switch (response.data.RtnCode) {
                            case 200:
                                this.$refs.changePassword.Close();
                                break;
                            case 401:
                            case 417:
                            case 423:
                                if (typeof (response.data.RtnData) === 'string') {
                                    this.modelStateError = JSON.parse(response.data.RtnData);
                                }
                                this.$emitter.emit('ServerErrorMessages', this.modelStateError);
                                break;
                            default:
                                throw new Error('代碼有誤');
                                break;
                        }
                    }
                } catch (exception) {
                    console.log(exception);
                }
            }
        }
    })
    }
</script>
