<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GodPay_CMS</title>
    <link href="~/site-css/bundle.css" rel="stylesheet" />
    @RenderSection("Style", required: false)
</head>
<body>
    <div id="db-wrapper">
        <!-- navbar vertical -->
        <vc:navbar-vertical></vc:navbar-vertical>
        <!-- Page content -->
        <div id="page-content">
            <vc:header></vc:header>
            <!-- Container fluid -->
            <main id="app">
                @RenderBody()
                <p-toast group="backend-laoout"></p-toast>
                <p-confirmdialog class="p-modal-sm p-modal-md p-modal-lg"></p-confirmdialog>
            </main>
        </div>
    </div>
    <!--vue-->
    @if (env.IsDevelopment())
    {
        <script src="~/lib/vue/vue.global.js"></script>

    }
    else
    {
        <script src="~/lib/vue/vue.global.prod.js"></script>
    }
    <script src="~/lib/vee-validate/vee-validate.min.js"></script>
    <script src="~/lib/vee-validate/rules/dist/vee-validate-rules.min.js"></script>
    <script src="~/lib/vee-validate/i18n/dist/vee-validate-i18n.min.js"></script>
    <script src="~/lib/mitt/dist/mitt.umd.js"></script>
    <!--primevue-->
    <script src="~/lib/primevue/core/core.min.js"></script>
    <script src="~/lib/primevue/datatable/datatable.min.js"></script>
    <script src="~/lib/primevue/column/column.min.js"></script>
    <script src="~/lib/primevue/toolbar/toolbar.min.js"></script>
    <script src="~/lib/primevue/button/button.min.js"></script>
    <script src="~/lib/primevue/toast/toast.min.js"></script>
    <script src="~/lib/primevue/toastservice/toastservice.min.js"></script>
    <script src="~/lib/primevue/tooltip/tooltip.min.js"></script>
    <script src="~/lib/primevue/card/card.min.js"></script>
    <script src="~/lib/primevue/confirmdialog/confirmdialog.min.js"></script>
    <script src="~/lib/primevue/confirmationservice/confirmationservice.min.js"></script>
    <script src="~/lib/primevue/checkbox/checkbox.min.js"></script>
    <script src="~/lib/primevue/calendar/calendar.min.js"></script>
    <script src="~/lib/primevue/scrollpanel/scrollpanel.min.js"></script>
    <!--bootstrap-->
    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
    <!--axios-->
    <script src="~/lib/axios/axios.min.js"></script>
    <!--dash ui-->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jQuery-slimScroll/jquery.slimscroll.min.js"></script>
    <script src="~/lib/feather-icons/feather.min.js"></script>
    <script src="~/site-js/bundle.js"></script>
    <!--custom-->
    <script src="~/site-js/site.js" asp-append-version="true"></script>

    <script type="text/javascript">
        // 設定 axios 基礎設定
        let baseURL = '@settings.Value.BaseUrl';
        let layout = 'backend-laoout';
        window.layout = layout;
        window.baseURL = baseURL;
    </script>

    <script type="module">
        @if (IsSectionDefined("Vue")) {
            // Vue進入點
            @RenderSection("Vue", required: false)
            // Vuer結束點
        }
        else {
            @:const app = Vue.createApp({})
        }

        // 全域註冊vue method
        const emitter = mitt();
        import { CheckValueOfObjectIsNotEmpty, ChangeReturnCode, CheckAuthority } from '@settings.Value.BaseUrl/StaticFiles/Vue/Methods/Common.js';
        import { FormatTWDate } from '@settings.Value.BaseUrl/StaticFiles/Vue/Methods/Format.js';
        app.config.globalProperties.$emitter = emitter;
        app.config.globalProperties.$common = {
            CheckValueOfObjectIsNotEmpty,
            ChangeReturnCode,
            CheckAuthority
        }
        app.config.globalProperties.$format = {
            FormatTWDate
        }
        // 全域註冊Component
        app.component('pDialog', primevue.dialog);
        app.component('pInputText', primevue.inputtext);
        app.component('pToast', primevue.toast);
        app.component('pButton', primevue.button);
        app.component('pConfirmdialog', primevue.confirmdialog);
        app.component('vForm', VeeValidate.Form);
        app.component('vField', VeeValidate.Field);
        app.component('errorMessage', VeeValidate.ErrorMessage);

        // 驗證規則
        Object.keys(VeeValidateRules).forEach(rule => {
            if (rule !== 'default') {
                VeeValidate.defineRule(rule, VeeValidateRules[rule]);
            }
        });
        import {
            VerifyAccount, VerifyEnClass, VerifyChClass
        } from '@settings.Value.BaseUrl/StaticFiles/Vue/Methods/Validates.js';
        VeeValidate.defineRule('account', VerifyAccount);
        VeeValidate.defineRule('enClass', VerifyEnClass);
        VeeValidate.defineRule('chClass', VerifyChClass);
        // 多國語系
        VeeValidateI18n.loadLocaleFromURL('@settings.Value.BaseUrl/lib/vee-validate/i18n/dist/locale/zh_TW.json');
        // 配置
        VeeValidate.configure({
            generateMessage: VeeValidateI18n.localize('zh_TW'),
            validateOnInput: true, // 調整為輸入字元立即進行驗證
        });
        app.use(primevue.config.default);
        app.use(primevue.confirmationservice);
        app.use(primevue.toastservice);
        const tooltip = primevue.tooltip;
        app.directive("tooltip", tooltip);
        app.mount('#app');
    </script>

</body>
</html>
